<p>Hello, we would like to invite you to our fitness center </p>
<p>Please confirm that you want to attend our classes, following the link below</p>
<p>
  <a href="{{ url }}">Confirm invite</a>
</p>

<p>If you dont want to attend our classes you can safely ignore it.</p>
