<p>Hello {{name}}, we would like to invite you to our fitness center </p>
<p>Please confirm that you want to atend our classes, following the link below</p>
<p>
  <a href="{{ url }}">Confirm</a>
</p>

<p>If you dont want to atend our classes you can safely ignore it.</p>